/* Top Bar Style */
header .topbar{
  display:flex;
  justify-content: end;
}

header .topbar-nav{
  display:flex;
  padding:1rem 0;
  align-items: center;
  column-gap: 1.25rem;
}

header .topbar-nav a{
  display:flex;
  align-items: center;
  color:#555;
  font-size:.8125rem;
}

header .topbar-nav a i{
  font-size:.875rem;
}